.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;

    &__logo {
        line-height: 0;

        &-img {
            max-width: 133px;
            max-height: 66px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        padding: 0 30px;
    }

    &__link {
        color: #fff;
        font-weight: 500;
        line-height: 1.5;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            bottom: -2px;
            left: 0;
            background-color: #fff;
            transition: .3s;
        }

        &:hover:after {
            width: 100%;
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__tel {
        line-height: 0;
    }

    &__phone {
        position: relative;
        line-height: 1.5;
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        margin-left: 6px;
        margin-right: 16px;

        &:hover {
            cursor: pointer;
        }
    }

    &__social {
        display: flex;

        &-item {
            line-height: 0;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    &__social-link {
        display: block;

        &:hover {
            transform: scale(1.2);
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 1024px){
    .header__item {
        padding: 0 10px;
    }

    .header__phone {
        font-size: 14px;
    }
    
    .header__tel {
        margin-right: 15px;
    }

    .header__tel:hover {
        cursor: pointer;
    }
}

@media (max-width: 980px) {
    .header__phone {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__btn-menu {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        flex-shrink: 0;
    }

    .header__line {
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;
        left: 0;
        transition: .3s;
    }

    .header__line:nth-child(1) {
        top: 0;
    }

    .header__line:nth-child(2) {
        top: 9px;
    }

    .header__line:nth-child(3) {
        top: 18px;
    }

    .header__btn-menu--open .header__line:nth-child(1) {
        transform: rotate(45deg);
        top: 9px;  
    }

    .header__btn-menu--open .header__line:nth-child(2) {
        display: none;
    }

    .header__btn-menu--open .header__line:nth-child(3) {
        transform: rotate(-45deg);
        top: 9px;
    }

    .header__nav {
        display: none;
    }

    .header__nav--open {
        display: block;
        position: absolute;
        right: 0;
        top: calc(100% + 5px);
        background-color: #000;
        border-radius: 5px;
    }

    .header__phone {
        display: none;
    }
}

@media (max-width: 425px) {
    .header__nav {
        display: none;
    }
}